SECRET_KEY=django-insecure-CHANGE_ME_PLEASE_2026
DEBUG=False
ALLOWED_HOSTS=aftec.pythonanywhere.com,www.aftec.pythonanywhere.com,127.0.0.1,localhost

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=kcomat0@gmail.com
EMAIL_HOST_PASSWORD=YOUR_GOOGLE_APP_PASSWORD_16_CHARS
DEFAULT_FROM_EMAIL=KcoMat <kcomat0@gmail.com>
